<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jikandesu - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Jikandesu", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <div>
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Manga", "Index", "Manga", new { area = "Manga" }, null)</li>
                        <li>
                            <input id="searchBox" type="text" placeholder="Enter URL" />
                            <button id="searchBoxBtn" onclick="onClickSearch()">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="pull-right">
                    <ul class="nav navbar-nav">
                        <li ng-show="@Request.IsAuthenticated">@Html.ActionLink("Test", "TestUser", "HomeApi")</li>
                        <li ng-hide="@Request.IsAuthenticated">@Html.RouteLink("Login", new { area = "Authentication", controller = "AuthApi", action = @HttpContext.Current.IsDebuggingEnabled ? "ManualLogin" : "Login" })</li>
                        <li ng-hide="@Request.IsAuthenticated">@Html.RouteLink("Logout", new { area = "Authentication", controller = "AuthApi", action = @HttpContext.Current.IsDebuggingEnabled ? "ManualLogout" : "Logout" })</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="display:block">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/Menu/layoutMenu.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
